#hero-section {
	height: 100vh;
	background-color: var(--dark-blue);
	border-bottom: 2px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px;
}

#hero-section ul li {
	font-size: 18px;
	line-height: 28px;
}

#hero-section .hero-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	padding: 20px 40px;
	margin-top: 30px;
}

#hero-section .hero-text h1 {
	margin: 0;
	padding: 0;
	align-self: baseline;
}

#hero-section .hero-text h4 {
	align-self: baseline;
}

.hero-btn {
	color: var(--dark-blue);
	background-color: #fff;
	border: none;
	margin: 20px auto;
	padding: 20px 0px;
	width: calc(var(--grid-seat-width) * 9.6);
	border-radius: 10px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1.1px;
}

#hero-section {
	position: relative;
	background: url('../imgs/movies.jpg') center center/cover no-repeat;
	height: 100vh;
	width: 100%;
}

#hero-section::before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	width: 100%;
	z-index: 1;
}
