#navbar {
	background-color: var(--dark-blue-80);
	height: 80px;
	width: 100vw;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 3;
	border-bottom: 2px solid #fff;
	display: flex;
	align-items: center;
}

#navbar ul:first-of-type {
	position: absolute;
	top: -20px;
}

#navbar ul:first-of-type:hover li a,
#navbar ul:first-of-type:hover li i {
	cursor: default;
}

#navbar ul:last-of-type {
	position: absolute;
	right: 60px;
}

#navbar ul:not(:first-of-type) {
	margin: auto;
}

#navbar ul {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#navbar ul li {
	display: block;
	list-style: none;
	height: 100%;
}

#navbar ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 0 60px;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

#navbar ul li:hover {
	background-color: var(--dark-blue);
}

#navbar ul:first-of-type li:first-child:hover {
	background-color: var(--dark-blue-80);
}

#navbar ul li i {
	color: white;
}
