@import url('./bookings-backend.css');
@import url('./bookings-frontend.css');
@import url('./hero-section.css');
@import url('./navbar.css');
@import url('./contact-section.css');

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

:root {
	/* Colors */
	--dark-blue: #20212c;
	--dark-blue-80: #333547;
	--highlight: #32746d;
	--seat-neutral: #777778;
	--seat-selected: #63e5f3;
	--seat-booked: #fff;

	/* Seats */
	--seat-width: 30px;
	--seat-height: calc(var(--seat-width) * 0.8);
	--grid-seat-width: calc(var(--seat-width) * 1.2);
	--grid-seat-end-width: calc(var(--grid-seat-width) * 1.8);

	/* Positioning */
	--bottom-margin: 15%;
}

::selection {
	background: var(--highlight); /* WebKit/Blink Browsers */
	color: #fff;
}
::-moz-selection {
	background: var(--highlight); /* Gecko Browsers */
	color: #fff;
}

* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: 'Zen Kaku Gothic New', 'Segoe UI', Tahoma, Geneva, Verdana,
		sans-serif;
	color: white;
}

h1 {
	font-size: 58px;
}

h2 {
	font-size: 32px;
}

h4 {
	font-size: 28px;
	margin-bottom: 5px;
}

button,
input.button,
a.hero-btn {
	box-shadow: 0 5px #e3e3e3;
	cursor: pointer;
	font-family: 'Zen Kaku Gothic New', 'Segoe UI', Tahoma, Geneva, Verdana,
		sans-serif;
}

button:active,
input.button:active,
a.hero-btn:active {
	transform: translateY(2px);
	box-shadow: 0 2px #e3e3e3;
}

button:focus {
	outline: none;
}

input:focus,
textarea:focus {
	outline: 4px solid #00a8e8;
}

input,
textarea {
	border: none;
	font-family: 'Zen Kaku Gothic New', 'Segoe UI', Tahoma, Geneva, Verdana,
		sans-serif;
	border-radius: 5px;
}

label {
	margin-right: 15px;
}

select {
	min-width: 120px;
	padding: 2px 6px;
	border-radius: 5px;
	border: 0;
	font-family: 'Zen Kaku Gothic New', 'Segoe UI', Tahoma, Geneva, Verdana,
		sans-serif;
}

select:focus {
	outline: 4px solid #00a8e8;
}

.bookings-container {
	display: flex;
	align-items: center;
	min-height: 100vh;
	position: relative;
}
