@import url('./bookings-backend.css');

:root {
	/* Colors */
	--dark-blue: #20212c;
	--dark-blue-80: #333547;
	--seat-neutral: #3d3b47;
	--seat-selected: #63e5f3;
	--seat-booked: #fff;

	/* Seats */
	--seat-width: 30px;
	--seat-height: calc(var(--seat-width) * 0.8);
	--grid-seat-width: calc(var(--seat-width) * 1.2);
	--grid-seat-end-width: calc(var(--grid-seat-width) * 1.8);
}

* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bookings-container {
	display: flex;
	align-items: center;
	min-height: 100vh;
	position: relative;
}

.bookings-info {
	margin-bottom: 55px;
}

.bookings-frontend {
	position: absolute;
	left: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: var(--dark-blue);
	color: #fff;
	min-height: 100vh;
	width: 50%;
}

.seats-section {
	position: absolute;
	bottom: 25%;
}

.movie-selection-container {
	display: flex;
	flex-direction: row;
	text-align: left;
	justify-content: left;
	align-items: baseline;
	margin-bottom: 40px;
}

label {
	margin-right: 15px;
}

select {
	min-width: 120px;
}

#bookBtn {
	color: var(--dark-blue);
	background-color: #fff;
	border: none;
	margin-top: 40px;
	padding: 20px 0px;
	width: calc(var(--grid-seat-width) * 9.6);
	border-radius: 10px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1.1px;
}

#bookBtn:focus {
	outline: none;
}

#seats-container {
	display: grid;
	grid-template-columns:
		var(--grid-seat-width)
		var(--grid-seat-end-width)
		repeat(3, var(--grid-seat-width))
		var(--grid-seat-end-width)
		repeat(2, var(--grid-seat-width));
	grid-template-rows: repeat(6, var(--grid-seat-width));
}

.seat {
	background-color: var(--seat-neutral);
	width: var(--seat-width);
	height: var(--seat-height);
	transition: background-color 0.5s ease-out;
	border-radius: 100px 100px 0 0;
}

.seat.selected {
	background-color: var(--seat-selected);
	transition: background-color 0.3s;
}

/* The booked class should stay after selected class,
otherwise when you click booked it will change color 
even after the seat has been booked */
.seat.booked {
	background-color: var(--seat-booked);
}
